<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Booking_Date</th>
            <th>Booking_Time</th>
            <th>Start_Location</th>
            <th>End_Location</th>
            <th>Fare</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
                <tr *ngFor="let booking of bookings">
                    <td>{{ booking.bookingDate }}</td>
                    <td>{{ booking.bookingTime }}</td>
                    <td>{{ booking.startLocation }}</td>
                    <td>{{ booking.endLocation }}</td>
                    <td>{{ booking.fare }}</td>
                    <td>{{ booking.status }}</td>
                </tr>
        </tbody>
    </table>
</div>



