<div>
    <h3>Add new Cab Account:</h3>
    <!-- <div *ngIf="message" class="alert alert-success">
        <p> {{message}}</p>
    </div>
    <div *ngIf="errorMessage" class=" alert alert-danger">
        <p>{{errorMessage}}</p>
    </div> -->


    <form #userForm="ngForm">
        <div class="form-group">
            <label for="type">Car Type:</label>
            <input type="text" id="type" name="Car Type" [(ngModel)]="newCabAccount.type" required
                class="form-control" #typeRef="ngModel" pattern="[A-Za-z]{3,}">
        </div>
        <div *ngIf="typeRef.invalid && (typeRef.touched || typeRef.dirty)">
            <p *ngIf="typeRef.errors?.['required']" class="text-danger">Car type is required, cant be blank.
            </p>
            <p *ngIf="typeRef.errors?.['pattern']" class="text-danger"> Car type cant be a number</p>
        </div>
        <br>


        <div class="form-group">
            <label for="CarNumber">CarNumber:</label>
            <input type="number" id="carNumber" name="fare" [(ngModel)]="newCabAccount.carNumber" required
                class="form-control" #carNumberRef="ngModel" pattern="[0-9]{1,4}">
        </div>
        <div *ngIf="carNumberRef.invalid && (carNumberRef.touched || carNumberRef.dirty)">
            <p *ngIf="carNumberRef.errors?.['required']" class="text-danger">Registered CarNumber is required, cant be blank.</p>
            <p *ngIf="carNumberRef.errors?.['pattern']" class="text-danger"> Cant exceed 4 digits</p>
        </div>
        <br>


        <div class="form-group">
            <label for="Capacity">Capacity:</label>
            <input type="number" id="capacity" name="Capacity" [(ngModel)]="newCabAccount.capacity" required
                class="form-control" #capacityRef="ngModel" pattern="[0-9]{1,2}" max="20">
        </div>
        <div *ngIf="capacityRef.invalid && (carNumberRef.touched || carNumberRef.dirty)">
            <p *ngIf="capacityRef.errors?.['required']" class="text-danger">Capacity of car is required, cant be blank.</p>
            <p *ngIf="capacityRef.errors?.['pattern']" class="text-danger"> Seat exceeded</p>
        </div>
        <br>

        <div class="form-group">
            <label for="availableSeats">availableSeats:</label>
            <input type="number" id="availableSeats" name="availableSeats" [(ngModel)]="newCabAccount.availableSeats" required
                class="form-control" #availableRef="ngModel" pattern="[0-9]{1,2}">
        </div>
        <div *ngIf="availableRef.invalid && (carNumberRef.touched || carNumberRef.dirty)">
            <p *ngIf="availableRef.errors?.['required']" class="text-danger">Available seats are required, cant be blank.</p>
            <p *ngIf="availableRef.errors?.['pattern']" class="text-danger"> should be a number</p>
        </div>
        <br>


        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="type" name="Location" [(ngModel)]="newCabAccount.location" required
                class="form-control" #locationRef="ngModel" pattern="[A-Za-z]{3,}">
        </div>
        <div *ngIf="locationRef.invalid && (locationRef.touched || locationRef.dirty)">
            <p *ngIf="locationRef.errors?.['required']" class="text-danger">Location is required, cant be blank.
            </p>
            <p *ngIf="locationRef.errors?.['pattern']" class="text-danger">Location cant be a number</p>
        </div>
        <br>


        <div class="form-group">
            <label for="tripType">Trip Type:</label>
            <input type="text" id="tripType" name="Trip Type" [(ngModel)]="newCabAccount.tripType" required
                class="form-control" #tripTypeRef="ngModel" pattern="[A-Za-z]{3,}">
        </div>
        <div *ngIf="tripTypeRef.invalid && (tripTypeRef.touched || tripTypeRef.dirty)">
            <p *ngIf="tripTypeRef.errors?.['required']" class="text-danger">Trip type is required, cant be blank.
            </p>
            <p *ngIf="tripTypeRef.errors?.['pattern']" class="text-danger"> Trip type cant be a number</p>
        </div>
        <br>


        <button (click)="addCabAccount()" class="btn btn-success">Add Cab Account</button>
     </form>
</div>


