/* You can add global styles to this file, and also import other style files */
/* div {
    background-color: rgb(206, 206, 201);
}

h1, h3 {
    background-color: rgb(81, 81, 83);
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
} */
