<div *ngIf = "errorMessage">Login Failed</div>
<form>
    <div class="form-group">
      <input type="text" class="form-control" id="cdsId" name="cdsId" [(ngModel)] = "loginDto.cdsId" #nameRef="ngModel" placeholder="Enter cdsId" pattern="[A-Z0-9]+" required>
      <div *ngIf="nameRef.invalid && (nameRef.touched || nameRef.dirty)">
      <p *ngIf="nameRef.errors?.['required']" class="text-danger">CDSId is required, cant be blank</p>
      <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Only uppercase and numbers are allowed,Min 3 char required.</p>
      </div>
    </div><br>
    <div class="form-group">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required [(ngModel)] = "loginDto.password">
    </div><br>
    <button type="submit" class="btn btn-primary" (click) = "userLogin()">Submit</button>
</form>

