<div *ngIf="errorMessage" class="alert alert-danger">
    <p> {{errorMessage}}</p>
</div>
<div>
    <br><br>
    <input type="text" id="search" name="search" [(ngModel)]="query"><br>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>CarNumber</th>
            <th>Capacity</th>
            <th>AvailableSeats</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let cabaccount of cabaccounts  | searchcab:query">
                <td>{{cabaccount.id}}</td>
                <td>{{cabaccount.type}}</td>
                <td>{{cabaccount.carNumber}}</td>
                <td>{{cabaccount.capacity}}</td>
                <td>{{cabaccount.availableSeats}}</td>
                <td *ngIf = "cabaccount.driver !== null"><button (click)="updateDriver(cabaccount.driver?.id, cabaccount.id)">Update Driver</button></td>
                <td *ngIf = "cabaccount.driver == null"><button (click)="updateDriver()">Assign Driver</button></td>
                <td *ngIf = "cabaccount.route !== null"><button (click)="updateRoute(cabaccount.driver?.id, cabaccount.id)">Update Route</button></td>
                <td *ngIf = "cabaccount.route == null"><button (click)="updateRoute(cabaccount.driver?.id, cabaccount.id)">Assign Route</button></td>

                <!-- <button (Click)="addCabAccount()" class="btn btn-success">Add Cab Account</button> -->
                
                <!-- <td> <button (Click)="displayBookingsById(account.id)"class="btn btn-danger">Delete</button></td>//specify id or entier json is also fine
                <td> <button (Click)="updateAccount(account)" class ="btn btn-warning">update</button></td> -->
            </tr>
        </tbody>
    </table>
</div>


